
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2><%= @pirate.name %></h2>
    <h2><%= @pirate.weight %></h2>
    <h2><%= @pirate.height %></h2>

    <h2><%= @ships[0].name %></h2>
    <h2><%= @ships[0].type %></h2>
    <h2><%= @ships[0].booty %></h2>

    <h2><%= @ships[1].name %></h2>
    <h2><%= @ships[1].type %></h2>
    <h2><%= @ships[1].booty %></h2>

  </body>
</html>
